<link rel="stylesheet" href="/css/board-edit/sxn-board-edit.min.css" />

<div id="board-edit">

    <div class="uk-card uk-card-default uk-card-body">
<form action="/boards/{{id}}/deactivate" method="post" id="deactivate"></form>
<form action="/boards/{{id}}/reactivate" method="post" id="reactivate"></form>

        <div class="create-wrap">
            <h4 class="inner">Edit Board</h4>
            <div class="divider"></div>
            <div class="create-grid" uk-grid>
                <div class="poll-wrap uk-width-3-5@m">
                    <div class="form-wrap">
                        <form action="/boards/{{id}}/edit" method="post" id="editform">
                            <input class="uk-input uk-form-large uk-form-blank uk-form-width-large" type="text" name="name" value="{{name}}"></input>

                            <textarea class="uk-textarea uk-form-blank uk-form-width-large" type="text" name="description" style="overflow: hidden; resize: vertical">{{description}}</textarea>
                        <a class="uk-button uk-button-primary" type="button" onclick="document.getElementById('editform').submit()">Save</a>
                        <a href="javascript:history.back()" class="uk-button uk-button-cancel" type="button">Back</a>
                    </div>
                </div>
                <div class="uk-width-2-5@m">
                    <div class="list-wrap">
                        <ul>
                            <li>
                                <a href="" class="uk-float-left">
                                    <span>Board Visibility: &nbsp</span>
                                </a>
                                <select name="private">
                                  <option value="false">All</option>
                                  <option value="true">None</option>
                                </select>
                            </li>
                            <li>
                                <a href="" class="uk-float-left">
                                    <span>Posting Rights: &nbsp</span>
                                </a>
                                <select name="create">
                                  <option value="true">All</option>
                                  <option value="false">Only Admins</option>
                                </select>
                            </li>
                            <li>
                                <a href="" class="uk-float-left">
                                    <span>Able to Unsubscribe: &nbsp</span>
                                </a>
                                <select name="unsubscribable">
                                  <option value="true">Yes</option>
                                  <option value="false">No</option>
                                </select>
                            </li>
                            <li>
                              {{#if active}}<a class="uk-button uk-button-primary uk-float-left" style="color: white; background-color:red; border-color: red" type="button" onclick="document.getElementById('deactivate').submit()">Deactivate</a>
                              {{else}}<a class="uk-button uk-button-primary uk-float-left" style="color: white; background-color: #00d283" type="button" onclick="document.getElementById('reactivate').submit()">Reactivate</a>
                              {{/if}}
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
</form>
    </div>
</div>
