<link rel="stylesheet" href="/css/feed/sxn-feed.v5.min.css" />
<link rel="stylesheet" href="/css/feed-event/sxn-feed-event.min.css" />
<script>
function edit(index, index2) {
  document.getElementById('comment-' + index + "-" + index2).style.display = "none";
  document.getElementById('edit-comment-' + index + "-" + index2).style.display = "";
}
function saveComment(index, index2, id) {
  var xhttp = new XMLHttpRequest();
  xhttp.open("POST", "/comments/" + id + "/edit", true);
  xhttp.setRequestHeader("Content-Type", "application/json");
  var text = document.getElementById("editedComment-" + index + "-"+ index2).value;
  xhttp.send(JSON.stringify({text: text}));
  document.getElementById('comment-' + index + "-" + index2).style.display = "";
  document.getElementById('comment-' + index + "-" + index2).innerHTML = text;
  document.getElementById('edit-comment-' + index + "-" + index2).style.display = "none";
}
function cancel(index, index2) {
  document.getElementById('edit-comment-' + index + "-" + index2).style.display = "none";
  document.getElementById('comment-' + index + "-" + index2).style.display = "";
}
window.title = false;
</script>
<div id="feed">
    <p style="display:none" id="boardName">{{board.name}}</p>
    {{#each board.contents}}
    {{#if this.date}}
    <form id='delete-event-{{@index}}' style="display: none" method="post" action="/events/{{this.id}}"></form>
    <form id='attend-event-{{@index}}' style="display: none" method="post" action="/events/{{this.id}}/attend"></form>
    <form id='unattend-event-{{@index}}' style="display: none" method="post" action="/events/{{this.id}}/unattend"></form>
    <form id='flag-event-{{@index}}' style="display: none" method="post" action="/events/{{this.id}}/flag"></form>
    <div id="feed-event" class="event">
        <div class="feed-item">
            <div class="uk-card uk-card-default uk-card-body">

                <div class="main-post">
                    <div class="poster-avi uk-float-left">
                        <img src="/img/user.png" alt="Alex Reekie" />
                    </div>
                    <div class="poster-info uk-float-left">
                        <span class="name">{{#if this.postedBy.isLoopUser}}<a href='/users/{{this.postedBy.id}}'>{{this.postedBy.firstName}} {{this.postedBy.lastName}}</a>{{else}}{{this.postedBy.username}}{{/if}}</span><br />
                        <span>Created a new event at {{this.createdAt}}</span>
                    </div>
                    <div class="more">
                        <div class="uk-inline">
                            <a href="#" class="uk-icon-link" uk-icon="icon: more-vertical"></a>
                            {{>event-menu}}
                        </div>
                    </div>
                    <div class="uk-clearfix"></div>
                    <div class="post-content">
                        <div uk-grid>
                            <div class="uk-width-1-2@m">
                                <div class="img-wrap"></div>
                            </div>
                            <div class="uk-width-1-2@m">
                                <span class="title"><a href='/event/{{this.id}}'>{{this.title}} {{#if this.flagged}}<b style="color: red">(FLAGGED)</b>{{/if}}</a></span><br />
                                <span>{{this.date}}, {{this.startTime}} {{#compare this.endTime "" operator="!="}}to {{this.endTime}}{{/compare}}</span><br />
                                <span>{{this.location}}</span><br />
                                <br />
                                <span class="description">
                                    {{this.description}}
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <p style="display: none" id="comment-length-{{@index}}">{{this.comments.length}}</p>
                {{#if this.comments}}
                {{#each this.comments}}
                <form id='delete-comment-{{@../index}}-{{@index}}' style="display: none" method="post" action="/comments/{{id}}"></form>
                <form id='flag-comment-{{@../index}}-{{@index}}' style="display: none" method="post" action="/comments/{{id}}/flag"></form>
                {{#compare @index 0 operator="=="}}
                <div class="divider"></div>
                <div class="reply">
                    <div class="poster-avi uk-float-left">
                        <img src="/img/user.png" alt="Georgina Reekie" />
                    </div>
                    <div class="poster-info uk-float-left">
                        <span class="name"><a href='/users/{{postedBy.id}}' style="color: black">{{postedBy.firstName}} {{postedBy.lastName}}</a></span>&nbsp;<span class="timestamp">{{createdAt}}</span><br />
                        <span id="comment-{{@../index}}-{{@index}}">{{text}} {{#if this.flagged}}<b style="color: red">(FLAGGED)</b>{{/if}}</span>
                        <div class="add-comment" uk-grid id="edit-comment-{{@../index}}-{{@index}}" style="display: none">
                          <div class="uk-width-expand@m">
                            <input class="uk-input" type="text" name="text" id="editedComment-{{@../index}}-{{@index}}"value="{{text}}" onkeydown = "if(event.keyCode==13)saveComment({{@../index}}, {{@index}}, '{{id}}');else if(event.keyCode==27)cancel({{@../index}}, {{@index}})" autofocus>
                            <p>Press Enter to save, Press ESC to cancel</p>
                          </div>
                        </div>

                    </div>
                    <div class="more">
                        <div class="uk-inline">
                          <a href="#" class="uk-icon-link" uk-icon="icon: more-vertical"></a>
                          {{>comment-menu}}
                        </div>
                    </div>
                    <div class="uk-clearfix"></div>
                </div>
                {{#if this.comments}}
                <div class="divider"></div>
                <div class="add-comment add-comment-reply" uk-grid>
                  <div class="uk-width-expand@m">
                    {{#each this.comments}}
                    <form id='delete-comment-{{@../index}}-{{@index}}' style="display: none" method="post" action="/comments/{{id}}"></form>
                    <form id='flag-comment-{{@../index}}-{{@index}}' style="display: none" method="post" action="/comments/{{id}}/flag"></form>
                    {{#compare @index 0 operator=">"}}
                    <div class="divider"></div>
                    {{/compare}}
                        <div class="reply">
                            <div class="poster-avi uk-float-left">
                                <img src="/img/user.png" alt="Georgina Reekie" />
                            </div>
                            <div class="poster-info uk-float-left">
                                <span class="name">{{this.postedBy.firstName}} {{this.postedBy.lastName}}</span>&nbsp;<span class="timestamp">{{this.createdAt}}</span><br />
                                <span>{{this.text}}</span>                            </div>
                            <div class="more">
                                <div class="uk-inline">
                                  <a href="#" class="uk-icon-link" uk-icon="icon: more-vertical"></a>
                                  <div uk-drop="mode: click">
                                      <div class="uk-card uk-card-body uk-card-default">
                                          <ul>
                                              <li>
                                                <a href="#" onclick="document.getElementById('delete-comment-{{@../index}}-{{@index}}').submit();">
                                                  Delete Comment
                                                </a>
                                              </li>
                                          </ul>
                                      </div>
                                  </div>

                                </div>
                            </div>
                            <div class="uk-clearfix"></div>
                        </div>
                    {{/each}}
                  </div>
                </div>
                {{/if}}

                <div class="divider reply-{{@index}}" hidden></div>

                <div class="add-comment add-comment-reply reply-{{@index}}" uk-grid hidden>
                    <div class="uk-width-expand@m">
                        <form id="comment-{{@../index}}-{{@index}}" method="post" action="/comments/{{id}}/comment">
                            <div>
                                <input class="uk-input" type="text" name="text" placeholder="Add comment...">
                                <a class="uk-button uk-button-default" onclick="document.getElementById('comment-{{@../index}}-{{@index}}').submit();">
                                    Comment
                                </a>
                            </div>
                        </form>
                    </div>
                </div>

                <div class="divider"></div>
                {{/compare}}
                {{#compare @index 1 operator="=="}}

                <div class="reply">
                    <div class="poster-avi uk-float-left">
                        <img src="/img/user.png" alt="Alex Reekie" />
                    </div>
                    <div class="poster-info uk-float-left">
                      <span class="name"><a href='/users/{{postedBy.id}}' style="color: black">{{postedBy.firstName}} {{postedBy.lastName}}</a></span>&nbsp;<span class="timestamp">{{createdAt}}</span><br />
                      <span id="comment-{{@../index}}-{{@index}}">{{text}} {{#if this.flagged}}<b style="color: red">(FLAGGED)</b>{{/if}}</span>
                      <div class="add-comment" uk-grid id="edit-comment-{{@../index}}-{{@index}}" style="display: none">
                        <div class="uk-width-expand@m">
                          <input class="uk-input" type="text" name="text" id="editedComment-{{@../index}}-{{@index}}"value="{{text}}" onkeydown = "if(event.keyCode==13)saveComment({{@../index}}, {{@index}}, '{{id}}');else if(event.keyCode==27)cancel({{@../index}}, {{@index}})" autofocus>
                          <p>Press Enter to save, Press ESC to cancel</p>
                        </div>
                      </div>
                    </div>
                    <div class="more">
                      <div class="uk-inline">
                        <a href="#" class="uk-icon-link" uk-icon="icon: more-vertical"></a>
                        {{>comment-menu}}
                      </div>
                    </div>
                    <div class="uk-clearfix"></div>
                </div>

                {{#if this.comments}}
                <div class="divider"></div>
                <div class="add-comment add-comment-reply" uk-grid>
                  <div class="uk-width-expand@m">
                    {{#each this.comments}}
                    <form id='delete-comment-{{@../index}}-{{@index}}' style="display: none" method="post" action="/comments/{{id}}">
                    </form>
                    {{#compare @index 0 operator=">"}}
                    <div class="divider"></div>
                    {{/compare}}
                        <div class="reply">
                            <div class="poster-avi uk-float-left">
                                <img src="/img/user.png" alt="Georgina Reekie" />
                            </div>
                            <div class="poster-info uk-float-left">
                              <span class="name"><a href='/users/{{postedBy.id}}' style="color: black">{{postedBy.firstName}} {{postedBy.lastName}}</a></span>&nbsp;<span class="timestamp">{{createdAt}}</span><br />
                                <span>{{this.text}}</span>
                            </div>
                            <div class="more">
                                <div class="uk-inline">
                                  <a href="#" class="uk-icon-link" uk-icon="icon: more-vertical"></a>
                                  <div uk-drop="mode: click">
                                      <div class="uk-card uk-card-body uk-card-default">
                                          <ul>
                                              <li>
                                                <a href="#" onclick="document.getElementById('delete-comment-{{@../index}}-{{@index}}').submit();">
                                                  Delete Comment
                                                </a>
                                              </li>
                                          </ul>
                                      </div>
                                  </div>

                                </div>
                            </div>
                            <div class="uk-clearfix"></div>
                        </div>
                    {{/each}}
                  </div>
                </div>
                {{/if}}

                <div class="divider reply-{{@index}}" hidden></div>

                <div class="add-comment add-comment-reply reply-{{@index}}" uk-grid hidden>
                    <div class="uk-width-expand@m">
                      <form id="comment-comment-{{@index}}" method="post" action="/comments/{{id}}/comment">
                          <div>
                              <input class="uk-input" type="text" name="text" placeholder="Add comment...">
                              <a class="uk-button uk-button-default" onclick="document.getElementById('comment-comment-{{@index}}').submit();">
                                  Comment
                              </a>
                          </div>
                      </form>
                    </div>
                </div>
                {{#compare ../this.comments.length 2 operator="<="}}
                <div class="divider"></div>
                {{/compare}}
                {{/compare}}

                {{#compare @index 2 operator=">="}}
                {{#compare @index 2 operator="=="}}
                <div class="load-more more-comments-{{this.id}}">
                    <a id="more-comments-{{@../index}}" uk-toggle="target: .more-comments-{{this.id}}"></a>
                </div>
                <script>
                document.getElementById('more-comments-{{@../index}}').innerHTML = document.getElementById('comment-length-{{@../index}}').innerHTML - 2 + " more comments";
                </script>

                <div class="more-comments-{{this.id}}" hidden>

                    <div class="divider"></div>

                    <div class="reply">
                        <div class="poster-avi uk-float-left">
                            <img src="/img/user.png" alt="Georgina Reekie" />
                        </div>
                        <div class="poster-info uk-float-left">
                          <span class="name"><a href='/users/{{postedBy.id}}' style="color: black">{{postedBy.firstName}} {{postedBy.lastName}}</a></span>&nbsp;<span class="timestamp">{{createdAt}}</span><br />
                          <span id="comment-{{@../index}}-{{@index}}">{{text}} {{#if this.flagged}}<b style="color: red">(FLAGGED)</b>{{/if}}</span>
                          <div class="add-comment" uk-grid id="edit-comment-{{@../index}}-{{@index}}" style="display: none">
                            <div class="uk-width-expand@m">
                              <input class="uk-input" type="text" name="text" id="editedComment-{{@../index}}-{{@index}}"value="{{text}}" onkeydown = "if(event.keyCode==13)saveComment({{@../index}}, {{@index}}, '{{id}}');else if(event.keyCode==27)cancel({{@../index}}, {{@index}})" autofocus>
                              <p>Press Enter to save, Press ESC to cancel</p>
                            </div>
                          </div>
                        </div>
                        <div class="more">
                          <div class="uk-inline">
                            <a href="#" class="uk-icon-link" uk-icon="icon: more-vertical"></a>
                            {{>comment-menu}}
                          </div>
                        </div>
                        <div class="uk-clearfix"></div>
                    </div>

                    {{#if this.comments}}
                    <div class="divider"></div>
                    <div class="add-comment add-comment-reply" uk-grid>
                      <div class="uk-width-expand@m">
                        {{#each this.comments}}
                        <form id='delete-comment-{{@../index}}-{{@index}}' style="display: none" method="post" action="/comments/{{id}}">
                        </form>
                        {{#compare @index 0 operator=">"}}
                        <div class="divider"></div>
                        {{/compare}}
                            <div class="reply">
                                <div class="poster-avi uk-float-left">
                                    <img src="/img/user.png" alt="Georgina Reekie" />
                                </div>
                                <div class="poster-info uk-float-left">
                                  <span class="name"><a href='/users/{{postedBy.id}}' style="color: black">{{postedBy.firstName}} {{postedBy.lastName}}</a></span>&nbsp;<span class="timestamp">{{createdAt}}</span><br />
                                    <span>{{this.text}}</span>
                                </div>
                                <div class="more">
                                    <div class="uk-inline">
                                      <a href="#" class="uk-icon-link" uk-icon="icon: more-vertical"></a>
                                      <div uk-drop="mode: click">
                                          <div class="uk-card uk-card-body uk-card-default">
                                              <ul>
                                                  <li>
                                                    <a href="#" onclick="document.getElementById('delete-comment-{{@../index}}-{{@index}}').submit();">
                                                      Delete Comment
                                                    </a>
                                                  </li>
                                              </ul>
                                          </div>
                                      </div>

                                    </div>
                                </div>
                                <div class="uk-clearfix"></div>
                            </div>
                        {{/each}}
                      </div>
                    </div>
                    {{/if}}

                    <div class="divider reply-{{@index}}" hidden></div>

                    <div class="add-comment add-comment-reply reply-{{@index}}" uk-grid hidden>
                        <div class="uk-width-expand@m">
                          <form id="comment-comment-{{@index}}" method="post" action="/comments/{{id}}/comment">
                              <div>
                                  <input class="uk-input" type="text" name="text" placeholder="Add comment...">
                                  <a class="uk-button uk-button-default" onclick="document.getElementById('comment-comment-{{@index}}').submit();">
                                      Comment
                                  </a>
                              </div>
                          </form>
                        </div>
                    </div>

                    <div class="divider"></div>

                    {{/compare}}
                    {{#compare @index 2 operator=">"}}
                    <div class="reply">
                        <div class="poster-avi uk-float-left">
                            <img src="/img/user.png" alt="Alex Reekie" />
                        </div>
                        <div class="poster-info uk-float-left">
                          <span class="name"><a href='/users/{{postedBy.id}}' style="color: black">{{postedBy.firstName}} {{postedBy.lastName}}</a></span>&nbsp;<span class="timestamp">{{createdAt}}</span><br />
                          <span id="comment-{{@../index}}-{{@index}}">{{text}} {{#if this.flagged}}<b style="color: red">(FLAGGED)</b>{{/if}}</span>
                          <div class="add-comment" uk-grid id="edit-comment-{{@../index}}-{{@index}}" style="display: none">
                            <div class="uk-width-expand@m">
                              <input class="uk-input" type="text" name="text" id="editedComment-{{@../index}}-{{@index}}"value="{{text}}" onkeydown = "if(event.keyCode==13)saveComment({{@../index}}, {{@index}}, '{{id}}');else if(event.keyCode==27)cancel({{@../index}}, {{@index}})" autofocus>
                              <p>Press Enter to save, Press ESC to cancel</p>
                            </div>
                          </div>
                        </div>
                        <div class="more">
                          <div class="uk-inline">
                            <a href="#" class="uk-icon-link" uk-icon="icon: more-vertical"></a>
                            {{>comment-menu}}
                          </div>
                        </div>
                        <div class="uk-clearfix"></div>
                    </div>

                    {{#if this.comments}}
                    <div class="divider"></div>
                    <div class="add-comment add-comment-reply" uk-grid>
                      <div class="uk-width-expand@m">
                        {{#each this.comments}}
                        <form id='delete-comment-{{@../index}}-{{@index}}' style="display: none" method="post" action="/comments/{{id}}">
                        </form>
                        {{#compare @index 0 operator=">"}}
                        <div class="divider"></div>
                        {{/compare}}
                            <div class="reply">
                                <div class="poster-avi uk-float-left">
                                    <img src="/img/user.png" alt="Georgina Reekie" />
                                </div>
                                <div class="poster-info uk-float-left">
                                  <span class="name"><a href='/users/{{postedBy.id}}' style="color: black">{{postedBy.firstName}} {{postedBy.lastName}}</a></span>&nbsp;<span class="timestamp">{{createdAt}}</span><br />
                                    <span>{{this.text}}</span>
                                </div>
                                <div class="more">
                                    <div class="uk-inline">
                                      <a href="#" class="uk-icon-link" uk-icon="icon: more-vertical"></a>
                                      <div uk-drop="mode: click">
                                          <div class="uk-card uk-card-body uk-card-default">
                                              <ul>
                                                  <li>
                                                    <a href="#" onclick="document.getElementById('delete-comment-{{@../index}}-{{@index}}').submit();">
                                                      Delete Comment
                                                    </a>
                                                  </li>
                                              </ul>
                                          </div>
                                      </div>

                                    </div>
                                </div>
                                <div class="uk-clearfix"></div>
                            </div>
                        {{/each}}
                      </div>
                    </div>
                    {{/if}}

                    <div class="divider reply-{{@index}}" hidden></div>

                    <div class="add-comment add-comment-reply reply-{{@index}}" uk-grid hidden>
                        <div class="uk-width-expand@m">
                          <form id="comment-comment-{{@index}}" method="post" action="/comments/{{id}}/comment">
                              <div>
                                  <input class="uk-input" type="text" name="text" placeholder="Add comment...">
                                  <a class="uk-button uk-button-default" onclick="document.getElementById('comment-comment-{{@index}}').submit();">
                                      Comment
                                  </a>
                              </div>
                          </form>
                        </div>
                    </div>

                    <div class="divider"></div>
                    {{/compare}}
                {{/compare}}
                {{/each}}
                {{#compare this.comments.length 2 operator=">"}}
              </div>
              {{/compare}}
                  <div class="add-comment" uk-grid>
                    <div class="uk-width-expand@m">
                        <form id="comment-{{@index}}" method="post" action="/events/{{this.id}}/comment">
                            <div>
                                <input class="uk-input" type="text" name="text" placeholder="Add comment...">
                                <a class="uk-button uk-button-default" onclick="document.getElementById('comment-{{@index}}').submit();">
                                    Comment
                                </a>
                            </div>
                        </form>
                    </div>
                </div>
                {{else}}
                <div class="divider"></div>
                <div class="add-comment" uk-grid>
                  <div class="uk-width-expand@m">
                      <form id="comment-{{@index}}" method="post" action="/events/{{this.id}}/comment">
                          <div>
                              <input class="uk-input" type="text" name="text" placeholder="Add comment...">
                              <a class="uk-button uk-button-default" onclick="document.getElementById('comment-{{@index}}').submit();">
                                  Comment
                              </a>
                          </div>
                      </form>
                  </div>
              </div>
              {{/if}}
            </div>
        </div>
    </div>
    {{else}}
    <form id='delete-post-{{@index}}' style="display: none" method="post" action="/posts/{{this.id}}"></form>
    <form id='follow-post-{{@index}}' style="display: none" method="post" action="/posts/{{this.id}}/follow"></form>
    <form id='unfollow-post-{{@index}}' style="display: none" method="post" action="/posts/{{this.id}}/unfollow"></form>
    <form id='flag-post-{{@index}}' style="display: none" method="post" action="/posts/{{this.id}}/flag"></form>
    <div class="feed-item post" id="{{this.id}}">
        <div class="uk-card uk-card-default uk-card-body">
            <div class="main-post">
                <div class="poster-avi uk-float-left">
                    <img src="/img/user.png" alt="Alex Reekie" />
                </div>
                <div class="poster-info uk-float-left">
                  <span class="name"><a href='/users/{{this.postedBy.id}}'>{{this.postedBy.firstName}} {{this.postedBy.lastName}}</a></span><br />
                    <span>Posted at {{this.createdAt}} in <a href="/boards/{{this.board}}" id="board-name-{{@index}}"></a></span>
                    <script> document.getElementById('board-name-{{@index}}').innerHTML = document.getElementById('boardName').innerHTML</script>
                </div>
                <div class="more">
                    <div class="uk-inline">
                        <a href="#" class="uk-icon-link" uk-icon="icon: more-vertical"></a>
                        {{>user-menu}}
                    </div>
                </div>
                <div class="uk-clearfix"></div>
                <div class="post-content">
                  <h2>{{this.title}} {{#if this.flagged}}<b style="color: red">(FLAGGED)</b>{{/if}}</h2>
                    <p>{{this.text}}</p>
                </div>
            </div>
            <p style="display: none" id="comment-length-{{@index}}">{{this.comments.length}}</p>
            {{#if this.comments}}
            {{#each this.comments}}
            <form id='delete-comment-{{@../index}}-{{@index}}' style="display: none" method="post" action="/comments/{{id}}"></form>
            <form id='flag-comment-{{@../index}}-{{@index}}' style="display: none" method="post" action="/comments/{{id}}/flag"></form>
            {{#compare @index 0 operator="=="}}
            <div class="divider"></div>
            <div class="reply">
                <div class="poster-avi uk-float-left">
                    <img src="/img/user.png" alt="Georgina Reekie" />
                </div>
                <div class="poster-info uk-float-left">
                  <span class="name"><a href='/users/{{postedBy.id}}' style="color: black">{{postedBy.firstName}} {{postedBy.lastName}}</a></span>&nbsp;<span class="timestamp">{{createdAt}}</span><br />
                    <span id="comment-{{@../index}}-{{@index}}">{{text}} {{#if this.flagged}}<b style="color: red">(FLAGGED)</b>{{/if}}</span>
                    <div class="add-comment" uk-grid id="edit-comment-{{@../index}}-{{@index}}" style="display: none">
                      <div class="uk-width-expand@m">
                        <input class="uk-input" type="text" name="text" id="editedComment-{{@../index}}-{{@index}}"value="{{text}}" onkeydown = "if(event.keyCode==13)saveComment({{@../index}}, {{@index}}, '{{id}}');else if(event.keyCode==27)cancel({{@../index}}, {{@index}})" autofocus>
                        <p>Press Enter to save, Press ESC to cancel</p>
                      </div>
                    </div>
                </div>
                <div class="more">
                    <div class="uk-inline">
                      <a href="#" class="uk-icon-link" uk-icon="icon: more-vertical"></a>
                      {{>comment-menu}}
                    </div>
                </div>
                <div class="uk-clearfix"></div>
            </div>
            {{#if this.comments}}
            <div class="divider"></div>
            <div class="add-comment add-comment-reply" uk-grid>
              <div class="uk-width-expand@m">
                {{#each this.comments}}
                <form id='delete-comment-{{@../index}}-{{@index}}' style="display: none" method="post" action="/comments/{{id}}">
                </form>
                {{#compare @index 0 operator=">"}}
                <div class="divider"></div>
                {{/compare}}
                    <div class="reply">
                        <div class="poster-avi uk-float-left">
                            <img src="/img/user.png" alt="Georgina Reekie" />
                        </div>
                        <div class="poster-info uk-float-left">
                          <span class="name"><a href='/users/{{postedBy.id}}' style="color: black">{{postedBy.firstName}} {{postedBy.lastName}}</a></span>&nbsp;<span class="timestamp">{{createdAt}}</span><br />
                            <span>{{this.text}} {{#if this.flagged}}<b style="color: red">(FLAGGED)</b>{{/if}}</span>
                        </div>
                        <div class="more">
                            <div class="uk-inline">
                              <a href="#" class="uk-icon-link" uk-icon="icon: more-vertical"></a>
                              <div uk-drop="mode: click">
                                  <div class="uk-card uk-card-body uk-card-default">
                                      <ul>
                                          <li>
                                            <a href="#" onclick="document.getElementById('delete-comment-{{@../index}}-{{@index}}').submit();">
                                              Delete Comment
                                            </a>
                                          </li>
                                      </ul>
                                  </div>
                              </div>

                            </div>
                        </div>
                        <div class="uk-clearfix"></div>
                    </div>
                {{/each}}
              </div>
            </div>
            {{/if}}

            <div class="divider reply-{{@index}}" hidden></div>

            <div class="add-comment add-comment-reply reply-{{@index}}" uk-grid hidden>
                <div class="uk-width-expand@m">
                    <form id="comment-{{@../index}}-{{@index}}" method="post" action="/comments/{{id}}/comment">
                        <div>
                            <input class="uk-input" type="text" name="text" placeholder="Add comment...">
                            <a class="uk-button uk-button-default" onclick="document.getElementById('comment-{{@../index}}-{{@index}}').submit();">
                                Comment
                            </a>
                        </div>
                    </form>
                </div>
            </div>

            <div class="divider"></div>
            {{/compare}}
            {{#compare @index 1 operator="=="}}

            <div class="reply">
                <div class="poster-avi uk-float-left">
                    <img src="/img/user.png" alt="Alex Reekie" />
                </div>
                <div class="poster-info uk-float-left">
                  <span class="name"><a href='/users/{{postedBy.id}}' style="color: black">{{postedBy.firstName}} {{postedBy.lastName}}</a></span>&nbsp;<span class="timestamp">{{createdAt}}</span><br />
                  <span id="comment-{{@../index}}-{{@index}}">{{text}} {{#if this.flagged}}<b style="color: red">(FLAGGED)</b>{{/if}}</span>
                  <div class="add-comment" uk-grid id="edit-comment-{{@../index}}-{{@index}}" style="display: none">
                    <div class="uk-width-expand@m">
                      <input class="uk-input" type="text" name="text" id="editedComment-{{@../index}}-{{@index}}"value="{{text}}" onkeydown = "if(event.keyCode==13)saveComment({{@../index}}, {{@index}}, '{{id}}');else if(event.keyCode==27)cancel({{@../index}}, {{@index}})" autofocus>
                      <p>Press Enter to save, Press ESC to cancel</p>
                    </div>
                  </div>
                </div>
                <div class="more">
                  <div class="uk-inline">
                    <a href="#" class="uk-icon-link" uk-icon="icon: more-vertical"></a>
                    {{>comment-menu}}
                  </div>
                </div>
                <div class="uk-clearfix"></div>
            </div>
            {{#if this.comments}}
            <div class="divider"></div>
            <div class="add-comment add-comment-reply" uk-grid>
              <div class="uk-width-expand@m">
                {{#each this.comments}}
                <form id='delete-comment-{{@../index}}-{{@index}}' style="display: none" method="post" action="/comments/{{id}}">
                </form>
                {{#compare @index 0 operator=">"}}
                <div class="divider"></div>
                {{/compare}}
                    <div class="reply">
                        <div class="poster-avi uk-float-left">
                            <img src="/img/user.png" alt="Georgina Reekie" />
                        </div>
                        <div class="poster-info uk-float-left">
                          <span class="name"><a href='/users/{{postedBy.id}}' style="color: black">{{postedBy.firstName}} {{postedBy.lastName}}</a></span>&nbsp;<span class="timestamp">{{createdAt}}</span><br />
                            <span>{{this.text}}</span>
                        </div>
                        <div class="more">
                            <div class="uk-inline">
                              <a href="#" class="uk-icon-link" uk-icon="icon: more-vertical"></a>
                              <div uk-drop="mode: click">
                                  <div class="uk-card uk-card-body uk-card-default">
                                      <ul>
                                          <li>
                                            <a href="#" onclick="document.getElementById('delete-comment-{{@../index}}-{{@index}}').submit();">
                                              Delete Comment
                                            </a>
                                          </li>
                                      </ul>
                                  </div>
                              </div>

                            </div>
                        </div>
                        <div class="uk-clearfix"></div>
                    </div>
                {{/each}}
              </div>
            </div>
            {{/if}}

            <div class="divider reply-{{@index}}" hidden></div>

            <div class="add-comment add-comment-reply reply-{{@index}}" uk-grid hidden>
                <div class="uk-width-expand@m">
                  <form id="comment-comment-{{@index}}" method="post" action="/comments/{{id}}/comment">
                      <div>
                          <input class="uk-input" type="text" name="text" placeholder="Add comment...">
                          <a class="uk-button uk-button-default" onclick="document.getElementById('comment-comment-{{@index}}').submit();">
                              Comment
                          </a>
                      </div>
                  </form>
                </div>
            </div>
            {{#compare ../this.comments.length 2 operator="<="}}
            <div class="divider"></div>
            {{/compare}}
            {{/compare}}

            {{#compare @index 2 operator=">="}}
            {{#compare @index 2 operator="=="}}
            <div class="load-more more-comments-{{this.id}}">
                <a id="more-comments-{{@../index}}" uk-toggle="target: .more-comments-{{this.id}}"></a>
            </div>
            <script>
            document.getElementById('more-comments-{{@../index}}').innerHTML = document.getElementById('comment-length-{{@../index}}').innerHTML - 2 + " more comments";
            </script>

            <div class="more-comments-{{this.id}}" hidden>

                <div class="divider"></div>

                <div class="reply">
                    <div class="poster-avi uk-float-left">
                        <img src="/img/user.png" alt="Georgina Reekie" />
                    </div>
                    <div class="poster-info uk-float-left">
                      <span class="name"><a href='/users/{{postedBy.id}}' style="color: black">{{postedBy.firstName}} {{postedBy.lastName}}</a></span>&nbsp;<span class="timestamp">{{createdAt}}</span><br />
                      <span id="comment-{{@../index}}-{{@index}}">{{text}} {{#if this.flagged}}<b style="color: red">(FLAGGED)</b>{{/if}}</span>
                      <div class="add-comment" uk-grid id="edit-comment-{{@../index}}-{{@index}}" style="display: none">
                        <div class="uk-width-expand@m">
                          <input class="uk-input" type="text" name="text" id="editedComment-{{@../index}}-{{@index}}"value="{{text}}" onkeydown = "if(event.keyCode==13)saveComment({{@../index}}, {{@index}}, '{{id}}');else if(event.keyCode==27)cancel({{@../index}}, {{@index}})" autofocus>
                          <p>Press Enter to save, Press ESC to cancel</p>
                        </div>
                      </div>
                    </div>
                    <div class="more">
                      <div class="uk-inline">
                        <a href="#" class="uk-icon-link" uk-icon="icon: more-vertical"></a>
                        {{>comment-menu}}
                      </div>
                    </div>
                    <div class="uk-clearfix"></div>
                </div>

                {{#if this.comments}}
                <div class="divider"></div>
                <div class="add-comment add-comment-reply" uk-grid>
                  <div class="uk-width-expand@m">
                    {{#each this.comments}}
                    <form id='delete-comment-{{@../index}}-{{@index}}' style="display: none" method="post" action="/comments/{{id}}">
                    </form>
                    {{#compare @index 0 operator=">"}}
                    <div class="divider"></div>
                    {{/compare}}
                        <div class="reply">
                            <div class="poster-avi uk-float-left">
                                <img src="/img/user.png" alt="Georgina Reekie" />
                            </div>
                            <div class="poster-info uk-float-left">
                              <span class="name"><a href='/users/{{postedBy.id}}' style="color: black">{{postedBy.firstName}} {{postedBy.lastName}}</a></span>&nbsp;<span class="timestamp">{{createdAt}}</span><br />
                                <span>{{this.text}}</span>
                            </div>
                            <div class="more">
                                <div class="uk-inline">
                                  <a href="#" class="uk-icon-link" uk-icon="icon: more-vertical"></a>
                                  <div uk-drop="mode: click">
                                      <div class="uk-card uk-card-body uk-card-default">
                                          <ul>
                                              <li>
                                                <a href="#" onclick="document.getElementById('delete-comment-{{@../index}}-{{@index}}').submit();">
                                                  Delete Comment
                                                </a>
                                              </li>
                                          </ul>
                                      </div>
                                  </div>

                                </div>
                            </div>
                            <div class="uk-clearfix"></div>
                        </div>
                    {{/each}}
                  </div>
                </div>
                {{/if}}

                <div class="divider reply-{{@index}}" hidden></div>

                <div class="add-comment add-comment-reply reply-{{@index}}" uk-grid hidden>
                    <div class="uk-width-expand@m">
                      <form id="comment-comment-{{@index}}" method="post" action="/comments/{{id}}/comment">
                          <div>
                              <input class="uk-input" type="text" name="text" placeholder="Add comment...">
                              <a class="uk-button uk-button-default" onclick="document.getElementById('comment-comment-{{@index}}').submit();">
                                  Comment
                              </a>
                          </div>
                      </form>
                    </div>
                </div>

                <div class="divider"></div>

                {{/compare}}
                {{#compare @index 2 operator=">"}}
                <div class="reply">
                    <div class="poster-avi uk-float-left">
                        <img src="/img/user.png" alt="Alex Reekie" />
                    </div>
                    <div class="poster-info uk-float-left">
                      <span class="name"><a href='/users/{{postedBy.id}}' style="color: black">{{postedBy.firstName}} {{postedBy.lastName}}</a></span>&nbsp;<span class="timestamp">{{createdAt}}</span><br />
                      <span id="comment-{{@../index}}-{{@index}}">{{text}} {{#if this.flagged}}<b style="color: red">(FLAGGED)</b>{{/if}}</span>
                      <div class="add-comment" uk-grid id="edit-comment-{{@../index}}-{{@index}}" style="display: none">
                        <div class="uk-width-expand@m">
                          <input class="uk-input" type="text" name="text" id="editedComment-{{@../index}}-{{@index}}"value="{{text}}" onkeydown = "if(event.keyCode==13)saveComment({{@../index}}, {{@index}}, '{{id}}');else if(event.keyCode==27)cancel({{@../index}}, {{@index}})" autofocus>
                          <p>Press Enter to save, Press ESC to cancel</p>
                        </div>
                      </div>
                    </div>
                    <div class="more">
                      <div class="uk-inline">
                        <a href="#" class="uk-icon-link" uk-icon="icon: more-vertical"></a>
                        {{>comment-menu}}
                      </div>
                    </div>
                    <div class="uk-clearfix"></div>
                </div>

                {{#if this.comments}}
                <div class="divider"></div>
                <div class="add-comment add-comment-reply" uk-grid>
                  <div class="uk-width-expand@m">
                    {{#each this.comments}}
                    <form id='delete-comment-{{@../index}}-{{@index}}' style="display: none" method="post" action="/comments/{{id}}">
                    </form>
                    {{#compare @index 0 operator=">"}}
                    <div class="divider"></div>
                    {{/compare}}
                        <div class="reply">
                            <div class="poster-avi uk-float-left">
                                <img src="/img/user.png" alt="Georgina Reekie" />
                            </div>
                            <div class="poster-info uk-float-left">
                              <span class="name"><a href='/users/{{postedBy.id}}' style="color: black">{{postedBy.firstName}} {{postedBy.lastName}}</a></span>&nbsp;<span class="timestamp">{{createdAt}}</span><br />
                                <span>{{this.text}}</span>
                            </div>
                            <div class="more">
                                <div class="uk-inline">
                                  <a href="#" class="uk-icon-link" uk-icon="icon: more-vertical"></a>
                                  <div uk-drop="mode: click">
                                      <div class="uk-card uk-card-body uk-card-default">
                                          <ul>
                                              <li>
                                                <a href="#" onclick="document.getElementById('delete-comment-{{@../index}}-{{@index}}').submit();">
                                                  Delete Comment
                                                </a>
                                              </li>
                                          </ul>
                                      </div>
                                  </div>

                                </div>
                            </div>
                            <div class="uk-clearfix"></div>
                        </div>
                    {{/each}}
                  </div>
                </div>
                {{/if}}

                <div class="divider reply-{{@index}}" hidden></div>

                <div class="add-comment add-comment-reply reply-{{@index}}" uk-grid hidden>
                    <div class="uk-width-expand@m">
                      <form id="comment-comment-{{@index}}" method="post" action="/comments/{{id}}/comment">
                          <div>
                              <input class="uk-input" type="text" name="text" placeholder="Add comment...">
                              <a class="uk-button uk-button-default" onclick="document.getElementById('comment-comment-{{@index}}').submit();">
                                  Comment
                              </a>
                          </div>
                      </form>
                    </div>
                </div>

                <div class="divider"></div>
                {{/compare}}
            {{/compare}}
            {{/each}}
            {{#compare this.comments.length 2 operator=">"}}
          </div>
          {{/compare}}
              <div class="add-comment" uk-grid>
                <div class="uk-width-expand@m">
                    <form id="comment-{{@index}}" method="post" action="/posts/{{this.id}}/comment">
                        <div>
                            <input class="uk-input" type="text" name="text" placeholder="Add comment...">
                            <a class="uk-button uk-button-default" onclick="document.getElementById('comment-{{@index}}').submit();">
                                Comment
                            </a>
                        </div>
                    </form>
                </div>
            </div>
            {{else}}
            <div class="divider"></div>
            <div class="add-comment" uk-grid>
              <div class="uk-width-expand@m">
                  <form id="comment-{{@index}}" method="post" action="/posts/{{this.id}}/comment">
                      <div>
                          <input class="uk-input" type="text" name="text" placeholder="Add comment...">
                          <a class="uk-button uk-button-default" onclick="document.getElementById('comment-{{@index}}').submit();">
                              Comment
                          </a>
                      </div>
                  </form>
              </div>
          </div>
          {{/if}}
        </div>
    </div>
    {{/if}}
    {{/each}}
    <style>
.pagination a {
    color: black;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
    font-size: 25px;
}

.pagination a.active {
    background-color: #00d283;
    color: white;
}

.pagination a:hover:not(.active) {background-color: #ddd;}
</style>
<div style="text-align:center">
    <div class="pagination">
      <a href="#">&laquo;</a>
      {{#each pages}}
      <a {{#compare this ../currentPage operator="=="}}class="active" {{/compare}}href="/feed/?page={{this}}">{{this}}</a>
      {{/each}}
      <a href="#">&raquo;</a>
    </div>
  </div>
</div>

 {{>image-upload-modal}}
