<link rel="stylesheet" href="/css/board-notifications/sxn-board-notifications.v7.min.css" />
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.1.3/semantic.min.js"></script>
<script>
var currentSlide = 0;
var numSlides = 0;
function right() {
  if(currentSlide==numSlides-1) {
    document.getElementById('right').className += "disabled";
  } else if(currentSlide==0){
    document.getElementById('left').classList.remove('disabled');
  }
  document.getElementById('slide-' + currentSlide).style.display = "none";
  currentSlide++;
  document.getElementById('slide-' + currentSlide).style.display = "";
}
function left() {
  if(currentSlide==numSlides-1) {
    document.getElementById('right').classList.remove('disabled');
  } else if (currentSlide==1) {
    document.getElementById('left').className += "disabled";
  }
  document.getElementById('slide-' + currentSlide).style.display = "none";
  currentSlide--;
  document.getElementById('slide-' + currentSlide).style.display = "";
}

$( document ).ready(function() {
  var body = $("#notifications-body");
  {{#if admin}}
  {{#if board.notifications}}
  body.append('<div class="slide-link left" onclick="left()"><a id="left" class="uk-slidenav-large disabled" uk-slidenav-previous></a></div><div class="slide-link right" onclick="right()"><a id="right" class="uk-slidenav-large" uk-slidenav-next></a></div>');
  {{#each board.notifications}}
  var slideID = Math.floor({{@index}}/3);
  var message = '{{message}}';
  var array = message.split('&quot;');
  console.log('{{kind}}');
  if({{@index}}==0) {
    numSlides++;
    if('{{kind}}' == 'Post') {
      message = '<form method="post" id="unflag-{{@index}}" action="/posts/{{routeID}}/unflag" style="display:none"></form><form method="post" id="delete-flagged-{{@index}}" action="/posts/{{routeID}}/delete" style="display:none"></form>';
    } else if('{{kind}}' == 'Comment') {
      message = '<form method="post" id="unflag-{{@index}}" action="/comments/{{routeID}}/unflag" style="display:none"></form><form method="post" id="delete-flagged-{{@index}}" action="/comments/{{routeID}}/delete" style="display:none"></form>';
    } else {
      message = '<form method="post" id="unflag-{{@index}}" action="/events/{{routeID}}/unflag" style="display:none"></form><form method="post" id="delete-flagged-{{@index}}" action="/events/{{routeID}}/delete" style="display:none"></form>';
    }
    body.append('<div class="app-link uk-grid-match uk-child-width-1-3@m triple-wrap" id="slide-' + slideID + '" uk-grid><div>' + message + '<div class="uk-grid-match" uk-grid><div class="uk-width-1-3@m"><span uk-icon="icon: warning"></span></div><div class="uk-width-2-3@m"><p>' + array[0] + '<span class="green"><a href="#{{routeID}}">' + array[1] + '</a></span>' + array[2] + '</p><p class="text-light">{{createdAt}}</p><span class="green">Approve?<a class="approval yes" onclick="document.getElementById(' + "'unflag-{{@index}}'" + ').submit()">Unflag</a><a class="approval" onclick="document.getElementById(' + "'delete-flagged-{{@index}}'" + ').submit()">Delete</a></span></div></div></div>');
  } else if({{@index}}%3==0) {
    if('{{kind}}' == 'Post') {
      message = '<form method="post" id="unflag-{{@index}}" action="/posts/{{routeID}}/unflag" style="display:none"></form><form method="post" id="delete-flagged-{{@index}}" action="/posts/{{routeID}}/delete" style="display:none"></form>';
    } else if('{{kind}}' == 'Comment') {
      message = '<form method="post" id="unflag-{{@index}}" action="/comments/{{routeID}}/unflag" style="display:none"></form><form method="post" id="delete-flagged-{{@index}}" action="/comments/{{routeID}}/delete" style="display:none"></form>';
    } else {
      message = '<form method="post" id="unflag-{{@index}}" action="/events/{{routeID}}/unflag" style="display:none"></form><form method="post" id="delete-flagged-{{@index}}" action="/events/{{routeID}}/delete" style="display:none"></form>';
    }
    body.append('</div><div style="display:none" class="app-link uk-grid-match uk-child-width-1-3@m triple-wrap" id="slide-' + slideID + '" uk-grid><div>' + message + '<div class="uk-grid-match" uk-grid><div class="uk-width-1-3@m"><span uk-icon="icon: warning"></span></div><div class="uk-width-2-3@m"><p>' + array[0] + '<span class="green"><a href="#{{routeID}}">' + array[1] + '</a></span>' + array[2] + '</p><p class="text-light">{{createdAt}}</p><span class="green">Approve?<a class="approval yes" onclick="document.getElementById(' + "'unflag-{{@index}}'" + ').submit()">Unflag</a><a class="approval" onclick="document.getElementById(' + "'delete-flagged-{{@index}}'" + ').submit()">Delete</a></span></div></div></div>');
  } else {
    if('{{kind}}' == 'Post') {
      message = '<form method="post" id="unflag-{{@index}}" action="/posts/{{routeID}}/unflag" style="display:none"></form><form method="post" id="delete-flagged-{{@index}}" action="/posts/{{routeID}}/delete" style="display:none"></form>';
    } else if('{{kind}}' == 'Comment') {
      message = '<form method="post" id="unflag-{{@index}}" action="/comments/{{routeID}}/unflag" style="display:none"></form><form method="post" id="delete-flagged-{{@index}}" action="/comments/{{routeID}}/delete" style="display:none"></form>';
    } else {
      message = '<form method="post" id="unflag-{{@index}}" action="/events/{{routeID}}/unflag" style="display:none"></form><form method="post" id="delete-flagged-{{@index}}" action="/events/{{routeID}}/delete" style="display:none"></form>';
    }
    var slide = $('#slide-' + slideID);
    slide.append('<div>' + message + '<div class="uk-grid-match" uk-grid><div class="uk-width-1-3@m"><span uk-icon="icon: warning"></span></div><div class="uk-width-2-3@m"><p>' + array[0] + '<span class="green"><a href="#{{routeID}}">' + array[1] + '</a></span>' + array[2] + '</p><p class="text-light">{{createdAt}}</p><span class="green">Approve?<a class="approval yes" onclick="document.getElementById(' + "'unflag-{{@index}}'" + ').submit()">Unflag</a><a class="approval" onclick="document.getElementById(' + "'delete-flagged-{{@index}}'" + ').submit()">Delete</a></span></div></div></div>');
  }
  {{/each}}
  if(numSlides==1) {
    document.getElementById('right').className += " disabled";
  }
  body.append('</div>');
  {{/if}}
  {{/if}}
  body.append('<div class="new-post-toggle" hidden><div class="create-wrap"><h4 class="inner">New Post</h4><div class="divider"></div><div class="create-grid" uk-grid><div class="poll-wrap uk-width-3-5@m"><div class="form-wrap"><form id="postform" method="post" action="/boards/{{board.id}}/post"><textarea class="uk-textarea uk-form-blank uk-form-width-large" type="text" name="text" placeholder="Add text" style="overflow: hidden; resize: vertical"></textarea><div class="ui fluid multiple search selection dropdown"><input name="tags" type="hidden"><i class="dropdown icon"></i><div class="default text">Add tags</div><div class="menu">{{#each tags}}<div class="item" data-value="{{_id}}">{{name}}</div>{{/each}}</div></div><br><a class="uk-button uk-button-primary" type="button" onclick="document.getElementById('+ "'postform'" + ').submit();">Create</a><a class="uk-button uk-button-cancel" uk-toggle="target: .new-post-toggle" type="button">Back</a></div></div><div class="uk-width-2-5@m"><div class="list-wrap"><ul><li><a><span uk-icon="icon: users"></span><span>Post as</span></a><select name="postAs" form="postform"><option value="self">Yourself</option>{{#if office}}{{#each office}}<option value="{{_id}}">{{name}}</option>{{/each}}{{/if}}{{#each groups}}<option value="{{_id}}">{{name}}{{#if active}}{{else}} (Deactivated){{/if}}</option>{{/each}}</select></li></ul></div></div></div></div></div></form>');
  body.append('{{#if blocked}}<b style="color: red">You are currently blocked from posting, please contact your institution\'s Administrator.</b>{{else if postBlocked}}<b>You do not have permission to post to this board</b>{{else}}<div class="new-post-toggle add-comment" uk-grid><div class="uk-width-expand@m"><div><a uk-toggle="target: .new-post-toggle"><input class="uk-input" type="text" placeholder="+ Create a new post"></a></div></div></div>{{/if}}');
  $(function(){
    $('.ui.dropdown')
      .dropdown({
        allowAdditions: true
      })

  });
})
</script>
<div id="board-notifications">
    <div id="notifications-body" class="uk-card uk-card-default uk-card-body">

    </div>
</div>
