<style>
.alert {display:inline-block;}
</style>
<script>
function checkPasswords() {
  if(document.getElementById('p1').value==document.getElementById('p2').value) {
    document.getElementById('register').submit();
  }
  else {
    alert("Passwords do not match");
  }
}
</script>
<section id="login">
    <div class="login-header">
        <img class="uk-float-left" src="/img/loop_logo_white.png" alt="Loop" />
        <ul class="uk-list uk-link-text">
            <li><a href="#">Help</a></li>
            <li><a href="#">FAQ</a></li>
            <li><a href="#">About</a></li>
        </ul>
    </div>

    <h1>Hi, {{firstName}}</h1>
    <p>Now that we've verified your info, please create a password.</p>
    {{#if message}}
      <script> alert("{{message}}"); </script>
    {{/if}}
    <div class="inputs">
        <form action="/{{#if student}}student-{{/if}}signup-password" method="post" id="register">
          <input type="" name="username" value="{{username}}" style="display: none">
          <input type="" name="firstName" value="{{firstName}}" style="display: none">
          <input type="" name="lastName" value="{{lastName}}" style="display: none">
            <div class="uk-margin">
                <input class="uk-input uk-form-width-medium" type="password" name="password" id="p1" placeholder="Password">
            </div>
            <div class="uk-margin">
                <input class="uk-input uk-form-width-medium" type="password" name="confirmPassword" id="p2" placeholder="Retype password">
            </div>
            <a class="uk-button uk-button-default" onclick="checkPasswords();">
                Create Account
            </a>
            <a href="javascript:history.back()" class="uk-button uk-button-secondary">
                Back
            </a>
        </form>
    </div>

    <div class="uk-position-bottom-center">
        <span><a class="underlined" href="#">Help me</a> register my account.</span>
    </div>

</div>
