<link rel="stylesheet" href="/css/post-board-notifications-create/sxn-post-board-notifications-create.v3.min.css" />
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.1.3/semantic.min.js"></script>
<script>
$(function(){
  $('.ui.dropdown')
    .dropdown({
      allowAdditions: true
    })

});
</script>
<div id="post-board-notifications-create">
    <div class="uk-card uk-card-default uk-card-body">
        <div class="create-wrap">
            <h4 class="inner">New Event</h4>
            <div class="divider"></div>
            <div class="create-grid" uk-grid>
                <div class="poll-wrap uk-width-3-5@m">
                    <div class="form-wrap">
                        <form id="postform" action="/event-invite" method="post">
                            <input class="uk-input uk-form-large uk-form-blank uk-form-width-large" type="text" name="title" placeholder="Add a title" required></input>
                            <textarea class="uk-textarea uk-form-blank uk-form-width-large" type="text" name="description" placeholder="Add a description" style="overflow: hidden; resize: vertical" required></textarea>
                            <div class="ui fluid multiple search selection dropdown">
                              <input name="tags" type="hidden">
                              <i class="dropdown icon"></i>
                              <div class="default text">Add tags</div>
                              <div class="menu">
                                {{#each tags}}
                                <div class="item" data-value="{{_id}}">{{name}} ({{numberContent}} Posts)</div>
                                {{/each}}
                              </div>
                            </div>
                            <br>
                        <a class="uk-button uk-button-primary" type="button" onclick="document.getElementById('submitbutton').click();">Next</a>
                        <input type="submit" style="display: none" id="submitbutton"></input>
                        <a class="uk-button uk-button-cancel" href="javascript:history.back();" type="button">Back</a>
                    </div>
                </div>
                <div class="uk-width-2-5@m">
                    <div class="list-wrap">
                        <ul>
                            <li>
                                <a>
                                    <span uk-icon="icon: calendar"></span><span>Set date </span><input type="date" name="date" style="width: 130px" required>
                                </a>
                            </li>
                            <li>
                                <a>
                                    <span uk-icon="icon: clock"></span><span>Start time </span><input type="time" name="startTime" style="width: 100px" required>
                                </a>
                            </li>
                            <li>
                                <a>
                                    <span uk-icon="icon: clock"></span><span>End time </span><input type="time" name="endTime" style="width: 100px" required>
                                </a>
                            </li>
                            <li>
                                <a>
                                    <span uk-icon="icon: bell"></span><span>Set location </span><input type="text" name="location" style="width:100px" required>
                                </a>
                            </li>
                            <li>
                                <a>
                                    <span uk-icon="icon: commenting"></span><span>Select Board</span>
                                </a>
                                <select name="board">
                                  {{#each boards}}
                                    <option value="{{_id}}">{{name}}{{#if active}}{{else}} (Deactivated){{/if}}</option>
                                  {{/each}}
                                </select>
                            </li>
                            <li>
                              <a>
                                <span uk-icon="icon: users"></span><span>Post as</span>
                              </a>
                              <select name="postAs">
                                  <option value="self">Yourself</option>
                                {{#if office}}
                                {{#each office}}
                                  <option value="{{_id}}">{{name}}</option>
                                {{/each}}
                                {{/if}}
                                {{#each groups}}
                                  <option value="{{_id}}">{{name}}{{#if active}}{{else}} (Deactivated){{/if}}</option>
                                {{/each}}
                              </select>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
</form>
    </div>
</div>
