<link rel="stylesheet" href="/css/event-detail-header/sxn-event-detail-header.min.css" />
<script>
function attend() {
  var xhttp = new XMLHttpRequest();
  xhttp.open("POST", "/events/{{event.id}}/attend", true);
  xhttp.send();
  document.getElementById("attend").innerHTML = "<a onclick='unattend1()' class='uk-float-right uk-link'>✔ Attending</a>";
  document.getElementById("number_attendees").innerHTML = {{event.attendees.length}} + 1;
}
function unattend1() {
  var xhttp = new XMLHttpRequest();
  xhttp.open("POST", "/events/{{event.id}}/unattend", true);
  xhttp.send();
  document.getElementById("attend").innerHTML = "<a onclick='attend()' class='uk-float-right uk-link'>Attend</a>";
  document.getElementById("number_attendees").innerHTML = {{event.attendees.length}};
}
function attend1() {
  var xhttp = new XMLHttpRequest();
  xhttp.open("POST", "/events/{{event.id}}/attend", true);
  xhttp.send();
  document.getElementById("attend").innerHTML = "<a onclick='unattend()' class='uk-float-right uk-link'>✔ Attending</a>";
  document.getElementById("number_attendees").innerHTML = {{event.attendees.length}};
}
function unattend() {
  var xhttp = new XMLHttpRequest();
  xhttp.open("POST", "/events/{{event.id}}/unattend", true);
  xhttp.send();
  document.getElementById("attend").innerHTML = "<a onclick='attend1()' class='uk-float-right uk-link'>Attend</a>";
  document.getElementById("number_attendees").innerHTML = {{event.attendees.length}} - 1;
}

</script>
<div id="event-detail-header">

    <div class="event-detail-header top">
        <h2><a href="javascript:history.back()"><span uk-icon="icon: chevron-left"></span></a>{{event.title}} {{#compare event.archived true opeartor="=="}}<b style="color: red">(DELETED)</b>{{/compare}}</h2>
        {{#if admin}}<a href="/event/{{event.id}}/edit" class="uk-float-right green"><span class="uk-icon" uk-icon="icon: pencil"></span>Edit event</a>
        {{else if event.own}}
        <a href="/event/{{event.id}}/edit" class="uk-float-right green"><span class="uk-icon" uk-icon="icon: pencil"></span>Edit event</a>
        {{/if}}
        <div class="img-wrap"></div>
    </div>

    <div class="event-detail-header" class="uk-child-width-1-2@m" uk-grid>
        <div>
            <p class="created-by">Created by {{#if event.postingGroup}}<a href="/groups/{{event.postingGroup.id}}">{{event.postingGroup.name}}</a>{{/if}}{{#if event.postingOffice}}<b>{{event.postingOffice.name}}</b>{{/if}}{{#if event.postedBy.isLoopUser}}<a href="/users/{{event.postedBy.id}}" style="color: gray">{{event.postedBy.firstName}} {{event.postedBy.lastName}},</a>{{else}}{{event.postedBy.username}},{{/if}}<span>{{event.createdAt}}<br><a href="/boards/{{event.board}}">{{board}}</a></span></p>
            <span>Event Date: {{event.date}}, {{event.startTime}} {{#compare event.endTime "" operator="!="}}to {{event.endTime}}{{/compare}}</span>
        </div>
        <div>
          <div id="attend">
          {{#compare event.attending false operator="=="}}
            <a onclick="attend()" class="uk-float-right uk-link">Attend</a>
            {{else}}
            <a onclick="unattend()" class="uk-float-right uk-link">✔ Attending</a>
            {{/compare}}
          </div>
            <div class="uk-clearfix"></div>
            <div class="attending uk-float-right">
                <span uk-icon="icon: users"></span><span><span id="number_attendees">{{event.attendees.length}}</span> attending</span>
            </div>
            <div class="uk-clearfix"></div>
        </div>
    </div>

</div>
