<link rel="stylesheet" href="css/notifications/sxn-notifications.v2.min.css" />

<div id="notifications">

    <h4 class="today">TODAY</h4>
    {{#each notifications}}
    <div class="notifications-item">
        <div class="uk-card uk-card-default uk-card-body">
            <div class="main-post">
              <div class="poster-avi uk-float-left">
                  <img src="img/user.png" alt="Alex Reekie" />
              </div>
                <div class="poster-info uk-float-left">
                    <span class="name"><a
                      {{#compare this.routeID.kind 'Group' operator="=="}}
                      href="/groups/{{this.routeID.item}}"
                      {{/compare}}
                      {{#compare this.routeID.kind 'Post' operator="=="}}
                      href="/post/{{this.routeID.item}}"
                      {{/compare}}
                      >{{this.type}}</a></span><span class="timestamp">{{this.createdAt}}</span><br />
                    <span>{{this.message}}</span>
                </div>
            </div>

        </div>
    </div>
    {{/each}}
</div>
