<link rel="stylesheet" href="/css/events-list/sxn-events-list.min.css" />
<script>
$( document ).ready(function() {
  var today = $('#today');
  var week = $('#week');
  var month = $('#month');
  var past = $('#past');
  var header = "";
  var events = "";
  var current = new Date();
  var begofWeek = current.getDate() - current.getDay();
  var currentDay = current.getDate();
  var currentMonth = current.getMonth();
  var months = ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December'];
  currentMonth = months[currentMonth];
  var previousDate = currentMonth + ' ' + currentDay + ', ' + current.getFullYear();
  var addedHeader = false;
  {{#each events}}
  if({{@index}}==0) {
    previousDate = '{{date}}';
    var date = '{{date}}';
    var previousArray = date.split(/[ ,]+/);
  }
  var date = '{{date}}';
  var dateArray = date.split(/[ ,]+/);
  if(date=='{{currentDate}}' && addedHeader==false) {
    header = '<h4 class="today">TODAY</h4><div class="uk-card uk-card-default uk-card-body">';
    events += header;
    addedHeader = true;
  } else if(dateArray[0] == currentMonth && dateArray[1]==currentDay-1 && addedHeader==false) {
    header = '<h4 class="today">YESTERDAY</h4><div class="uk-card uk-card-default uk-card-body">';
    events += header;
    addedHeader = true;
  } else if(addedHeader==false){
    header = '<h4 class="today">{{date}}</h4><div class="uk-card uk-card-default uk-card-body">';
    events += header;
    addedHeader = true;
  }
  if(previousDate=='{{date}}') {
    events += '<li><div class="challenge-submissions" uk-grid><div class="uk-width-1-2@m"><div class="img-wrap"></div></div><div class="uk-width-expand@m"><p class="title"><a href="/event/{{id}}">{{title}} {{#compare archive true operator="=="}}<b style="color: red">(DELETED)</b>{{/compare}}</a></p>  <p class="created-by">Created by {{#if postedBy.isLoopUser}}<a href="/users/{{postedBy.id}}">{{postedBy.firstName}} {{postedBy.lastName}}</a>{{else}}{{postedBy.username}}{{/if}}</p><p class="timestamp">at {{createdAt}} in <a href="boards/{{board.id}}">{{board.name}}</a></p><p class="description">{{date}}<br/>{{startTime}} {{#compare endTime "" operator="!="}}to {{endTime}}{{/compare}}<br/>{{location}}</p></div></div></li>'
    if({{../events.length}}=={{@index}}+1) {
      events+= '</div><br>';
      if('{{date}}' == '{{currentDate}}') {
        today.append(events);
      } else if(dateArray[0] == currentMonth && dateArray[1] < currentDay && dateArray[1] >= begofWeek) {
        week.append(events);
      } else if(dateArray[0] == currentMonth) {
        month.append(events);
      } else {
        past.append(events);
      }
    }
  } else {
    if(previousDate == '{{currentDate}}') {
      events += '</div><br>'
      today.append(events);
      events = "";
      previousDate = '{{date}}';
      date = '{{date}}';
      var previousArray = date.split(/[ ,]+/);
      addedHeader=false;
      if(dateArray[0] == currentMonth && dateArray[1]==currentDay-1 && addedHeader==false) {
        header = '<h4 class="today">YESTERDAY</h4><div class="uk-card uk-card-default uk-card-body">';
        events += header;
        addedHeader = true;
      } else if(addedHeader==false){
        header = '<h4 class="today">{{date}}</h4><div class="uk-card uk-card-default uk-card-body">';
        events += header;
        addedHeader = true;
      }
      events += '<li><div class="challenge-submissions" uk-grid><div class="uk-width-1-2@m"><div class="img-wrap"></div></div><div class="uk-width-expand@m"><p class="title"><a href="/event/{{id}}">{{title}} {{#compare archive true operator="=="}}<b style="color: red">(DELETED)</b>{{/compare}}</a></p>  <p class="created-by">Created by {{#if postedBy.isLoopUser}}<a href="/users/{{postedBy.id}}">{{postedBy.firstName}} {{postedBy.lastName}}</a>{{else}}{{postedBy.username}}{{/if}}</p><p class="timestamp">at {{createdAt}} in <a href="boards/{{board.id}}">{{board.name}}</a></p><p class="description">{{date}}<br/>{{startTime}} {{#compare endTime "" operator="!="}}to {{endTime}}{{/compare}}<br/>{{location}}</p></div></div></li>'
      if({{../events.length}}=={{@index}}+1) {
        events+= '</div><br>';
        if('{{date}}' == '{{currentDate}}') {
          today.append(events);
        } else if(dateArray[0] == currentMonth && dateArray[1] < currentDay && dateArray[1] >= begofWeek) {
          week.append(events);
        } else if(dateArray[0] == currentMonth) {
          month.append(events);
        } else {
          past.append(events);
        }
      }
    } else if (previousArray[0] == currentMonth && previousArray[1] < currentDay && previousArray[1] >= begofWeek) {
      events += '</div><br>'
      week.append(events);
      events = "";
      previousDate = '{{date}}';
      date = '{{date}}';
      var previousArray = date.split(/[ ,]+/);
      addedHeader=false;
      if(dateArray[0] == currentMonth && dateArray[1]==currentDay-1 && addedHeader==false) {
        header = '<h4 class="today">YESTERDAY</h4><div class="uk-card uk-card-default uk-card-body">';
        events += header;
        addedHeader = true;
      }
      else if(addedHeader==false){
        header = '<h4 class="today">{{date}}</h4><div class="uk-card uk-card-default uk-card-body">';
        events += header;
        addedHeader = true;
      }
      events += '<li><div class="challenge-submissions" uk-grid><div class="uk-width-1-2@m"><div class="img-wrap"></div></div><div class="uk-width-expand@m"><p class="title"><a href="/event/{{id}}">{{title}} {{#compare archive true operator="=="}}<b style="color: red">(DELETED)</b>{{/compare}}</a></p>  <p class="created-by">Created by {{#if postedBy.isLoopUser}}<a href="/users/{{postedBy.id}}">{{postedBy.firstName}} {{postedBy.lastName}}</a>{{else}}{{postedBy.username}}{{/if}}</p><p class="timestamp">at {{createdAt}} in <a href="boards/{{board.id}}">{{board.name}}</a></p><p class="description">{{date}}<br/>{{startTime}} {{#compare endTime "" operator="!="}}to {{endTime}}{{/compare}}<br/>{{location}}</p></div></div></li>'
      if({{../events.length}}=={{@index}}+1) {
        events+= '</div><br>';
        if('{{date}}' == '{{currentDate}}') {
          today.append(events);
        } else if(dateArray[0] == currentMonth && dateArray[1] < currentDay && dateArray[1] >= begofWeek) {
          week.append(events);
        } else if(dateArray[0] == currentMonth) {
          month.append(events);
        } else {
          past.append(events);
        }
      }
    } else if (previousArray[0] == currentMonth) {
      events += '</div><br>'
      month.append(events);
      events = "";
      previousDate = '{{date}}';
      date = '{{date}}';
      var previousArray = date.split(/[ ,]+/);
      addedHeader=false;
      if(addedHeader==false){
        header = '<h4 class="today">{{date}}</h4><div class="uk-card uk-card-default uk-card-body">';
        events += header;
        addedHeader = true;
      }
      events += '<li><div class="challenge-submissions" uk-grid><div class="uk-width-1-2@m"><div class="img-wrap"></div></div><div class="uk-width-expand@m"><p class="title"><a href="/event/{{id}}">{{title}} {{#compare archive true operator="=="}}<b style="color: red">(DELETED)</b>{{/compare}}</a></p>  <p class="created-by">Created by {{#if postedBy.isLoopUser}}<a href="/users/{{postedBy.id}}">{{postedBy.firstName}} {{postedBy.lastName}}</a>{{else}}{{postedBy.username}}{{/if}}</p><p class="timestamp">at {{createdAt}} in <a href="boards/{{board.id}}">{{board.name}}</a></p><p class="description">{{date}}<br/>{{startTime}} {{#compare endTime "" operator="!="}}to {{endTime}}{{/compare}}<br/>{{location}}</p></div></div></li>'
      if({{../events.length}}=={{@index}}+1) {
        events+= '</div><br>';
        if('{{date}}' == '{{currentDate}}') {
          today.append(events);
        } else if(dateArray[0] == currentMonth && dateArray[1] < currentDay && dateArray[1] >= begofWeek) {
          week.append(events);
        } else if(dateArray[0] == currentMonth) {
          month.append(events);
        } else {
          past.append(events);
        }
      }
    } else {
      events += '</div><br>'
      past.append(events);
      events = "";
      previousDate = '{{date}}';
      date = '{{date}}';
      var previousArray = date.split(/[ ,]+/);
      addedHeader=false;
      if(addedHeader==false){
        header = '<h4 class="today">{{date}}</h4><div class="uk-card uk-card-default uk-card-body">';
        events += header;
        addedHeader = true;
      }
      events += '<li><div class="challenge-submissions" uk-grid><div class="uk-width-1-2@m"><div class="img-wrap"></div></div><div class="uk-width-expand@m"><p class="title"><a href="/event/{{id}}">{{title}} {{#compare archive true operator="=="}}<b style="color: red">(DELETED)</b>{{/compare}}</a></p>  <p class="created-by">Created by {{#if postedBy.isLoopUser}}<a href="/users/{{postedBy.id}}">{{postedBy.firstName}} {{postedBy.lastName}}</a>{{else}}{{postedBy.username}}{{/if}}</p><p class="timestamp">at {{createdAt}} in <a href="boards/{{board.id}}">{{board.name}}</a></p><p class="description">{{date}}<br/>{{startTime}} {{#compare endTime "" operator="!="}}to {{endTime}}{{/compare}}<br/>{{location}}</p></div></div></li>'
      if({{../events.length}}=={{@index}}+1) {
        events+= '</div><br>';
        if('{{date}}' == '{{currentDate}}') {
          today.append(events);
        } else if(dateArray[0] == currentMonth && dateArray[1] < currentDay && dateArray[1] >= begofWeek) {
          week.append(events);
        } else if(dateArray[0] == currentMonth) {
          month.append(events);
        } else {
          past.append(events);
        }
      }
    }
  }
  {{/each}}
});
</script>
<div id="events-list">
    <div class="uk-clearfix"></div>

  <div class="today" id="today">
  </div>
  <div class="week" id="week">
  </div>
  <div class="month" id="month">
  </div>
  <div class="past" id="past">
  </div>
</div>
