<link rel="stylesheet" href="/css/profile-user/sxn-profile-user.min.css" />

<div id="profile-user">

    <div class="profile-user" uk-grid>
        <div class="col uk-width-1-1@m">
            <div class="member" uk-grid>
                <div class="uk-width-auto@m">
                  <div class="img-wrap"></div>
                </div>
                <div class="uk-width-expand@m">
                    <p class="name">
                        {{user.firstName}} {{user.lastName}}<br/>
                        <span class="major">
                          {{#if user.major}}
                          {{user.major}},
                          {{else}}
                          N/A
                          {{/if}}
                          {{#if user.classYear}}
                          {{user.classYear}}
                          {{else}}
                          , N/A
                          {{/if}}
                        </span>
                        <br>
                        <span class="major">
                          {{user.username}}
                        </span>
                    </p>
                </div>
            </div>
        </div>
    </div>

</div>
