<div uk-drop="mode: click">
    <div class="uk-card uk-card-body uk-card-default">
        <ul>
          {{#if this.own}}
          {{else}}
          {{#compare this.following false operator="=="}}
          <li>
            <a href="#" onclick="document.getElementById('follow-post-{{@index}}').submit();">
              Follow Post
            </a>
          </li>
          {{else}}
          <li>
            <a href="#" onclick="document.getElementById('unfollow-post-{{@index}}').submit();">
              Unfollow Post
            </a>
          </li>

          {{/compare}}
          {{/if}}
          {{#if this.own}}
          <li>
            <a href="/posts/{{this.id}}/edit">
              Edit Post
            </a>
          </li>
          {{else if @root.admin}}
          <li>
            <a href="/posts/{{this.id}}/edit">
              Edit Post
            </a>
          </li>
          {{/if}}
          {{#if @root.admin}}
          {{#if this.flagged}}
          <form method="post" id="unflag-post-{{@index}}" action="/posts/{{this.id}}/unflag"></form>
          <li>
            <a href="#" onclick="document.getElementById('unflag-post-{{@index}}').submit();">
              Unflag Post
            </a>
          </li>
          <form method="post" id="delete-flagged-post-{{@index}}" action="/posts/{{this.id}}/delete"></form>
          <li>
            <a href="#" onclick="document.getElementById('delete-flagged-post-{{@index}}').submit();">
              Delete Post
            </a>
          </li>
          {{else}}
          <li>
            <a href="#" onclick="document.getElementById('delete-post-{{@index}}').submit();">
              Delete Post
            </a>
          </li>
          {{/if}}
          {{else if this.own}}
          <li>
            <a href="#" onclick="document.getElementById('delete-post-{{@index}}').submit();">
              Delete Post
            </a>
          </li>
          {{else}}
          <li>
            <a href="#" onclick="document.getElementById('flag-post-{{@index}}').submit();">
              Flag Post
            </a>
          </li>
          {{/if}}
        </ul>
    </div>
</div>
