<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.1.3/semantic.min.css">
<link rel="stylesheet" href="/css/login.v5.min.css"/>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.1.3/semantic.min.js"></script>
<script>
$( document ).ready(function() {
  $('.ui.dropdown')
    .dropdown({
      allowAdditions: true
    })

    $('#office')
  .dropdown({
    allowAdditions: true,
    action: 'activate',
    onChange: function(value, text) {
      $('#tags').dropdown('remove selected', list);
      console.log(text);
      console.log(value);
      {{#each offices}}
      if(value=="{{_id}}") {
        var list = [];
        {{#each tags}}
        list.push('{{name}} ({{followers.length}} Followers)');
        {{/each}}
        $('#tags').dropdown('set selected', list);
      }
      {{/each}}
    }
  })
;
});
</script>

<section id="login">
    <div class="login-header">
        <img class="uk-float-left" src="/img/loop_logo_white.png" alt="Loop" />
    </div>


    <h1>Add an Office</h1>
    <p>Choose the office you belong to and add tags relating to your office:</p>

    <div class="inputs">
      <form action="/add-office" method="post" id="register">
        <div class="uk-margin">
          <input type="hidden" name="check" value="{{check}}">
        <div id="office" class="ui fluid search selection dropdown">
     <input type="hidden" name="office">
     <i class="dropdown icon"></i>
     <div class="default text">Select your office or add one</div>
     <div class="menu">
       {{#each offices}}
       <div class="item" data-value="{{_id}}">{{name}}</div>
       {{/each}}
      </div>
     </div>
     </div>
     <div class="uk-margin">

        <div id="tags" class="ui fluid multiple search selection dropdown">
          <input name="tags" type="hidden">
          <i class="dropdown icon"></i>
          <div class="default text">Add tags</div>
          <div class="menu">
            {{#each tags}}
            <div class="item" data-value="{{_id}}">{{name}} ({{followers.length}} Followers)</div>
            {{/each}}
          </div>
        </div>
      </div>
   <div class="uk-margin">
       <input style="padding: 0 15px;" class="uk-input uk-form-width-medium" type="" name="title" placeholder="Title/Role" required>
   </div>
   <div class="uk-margin">
       <input style="padding: 0 15px;" class="uk-input uk-form-width-medium" type="" name="division" placeholder="Division" required>
   </div>
            <a type="button" class="uk-button uk-button-default" onclick="document.getElementById('submitbutton').click();">
                Add
            </a>
            <input type="submit" style="display: none" id="submitbutton"></input>
            <a href="/" class="uk-button uk-button-secondary">
                Skip
            </a>
        </form>
    </div>

</div>
